@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-200; 
}

@media (max-width: 768px) {
  body {
    padding-bottom: 100px;
  }
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

.glass-nav {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); 
}

.gutter {
    background-color: #1e293b; 
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    width: 3px !important;
    cursor: col-resize;
}

.gutter.gutter-vertical {
    height: 3px !important;
    cursor: row-resize;
}

.gutter:hover {
    background-color: #3b82f6;
}

